@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins');
html,body {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../assets/pexels-photo-813269.jpeg);
    background-size: cover;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    header {
        display: flex;
        align-content:  center;
        width: 100%;
        height: 100px;
        color: white;
        position: fixed;
        top: 0px;
        z-index: 3;
        
        img{
            padding-left: 40px;
        }
        .icon{
            width: 50%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        i { 
           display: flex;
            text-align: center;
            justify-content: center;
            width: 10%;
            font-size: x-large;
            cursor: pointer;
        }
        i:hover {
            color: #1c768d;
        }
        .toggle-btn {
            position: fixed;
            margin: 1.4em;
            padding: 1em;
            width: 40px;
            height: 12px;
            right: 0;
            z-index: 3;
            cursor: pointer;

            span.one{
                position: absolute;
                width: 40px;
                height: 2px;
                background-color:#fff; 
            }  
            span.two{
                position: absolute;
                width: 40px;
                height: 2px;
                background-color:#fff; 
                margin-top: 12px;
            }  
        }
    }

    h1 {
        // margin: 0px;
        position: absolute;
        top: 46%;
        left:50%;
        transform: translate(-50%, -50%);
        color:#fff;
        font-size:  48px;
        font-family: "Playfair Display";
        font-weight: lighter;
    }

    .menu {
        z-index: 2;
        position: absolute;
        background-color: #101010;
        height: 100%;
        width: 100%;
        top: -100%;

        .data {
            padding: 8em 0 0 2em;
            text-align: left;

            ul {
                list-style: none;

                li:first-child {
                    color: gray;
                    font-family: Poppins;
                    font-size: 50px; 
                }
                li:not(:first-chiled){
                    color: #fff;
                    font-size: 42px;

                    
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    font-family: Poppins;
                    font-size: 35px;
                }
            }
        }
    }

}    
     // SLIDER
     .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-pagination {
          color: black;
          
      }





































